html,
body {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e5edf2;
}

.phone {
  width: 1080px;
  height: 1150px;
  background-color: #ffd007;
  position: relative;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1);
}
.phone::after {
  content: "";
  width: 135px;
  height: 6px;
  background-color: #8f6d00;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 50%;
  margin-left: -67.5px;
}

.phone-score {
  width: 480px;
  height: 1150px;
  background-color: #ffd007;
  position: relative;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1);
}
.phone-score::after {
  content: "";
  width: 135px;
  height: 6px;
  background-color: #8f6d00;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 50%;
  margin-left: -67.5px;
}

.inner {
  padding: 80px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-score {
  padding: 80px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  width: 960px;
  height: 960px;
  border-radius: 30px;
  background: #4199d3;
}

.grid {
  height: 840px;
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa9ad;
  margin-left: 50px;
  margin-top: 50px;
  border: 10px solid #aaa9ad;
  margin-bottom: 10px;
}

div {
  font-size: 25px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.checked {
  height: 70px;
  width: 70px;
  border: 2px solid;
  background-color: #d4d3d5;
  border-color: #9c998d;
  box-sizing: border-box;
}

.gold {
  height: 70px;
  width: 70px;
  border: 5px solid;
  border-color: #f0f0f1 #b8b7ba #b8b7ba #e2e2e3;
  box-sizing: border-box;
}

.vibration {
  animation: vibration 0.1s infinite;
}
@keyframes vibration {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

#gold-light {
  filter: drop-shadow(0 0 2px rgba(247, 207, 10, 0.7))
    drop-shadow(0 0 5px rgba(247, 207, 10, 0.7))
    drop-shadow(0 0 15px rgba(247, 207, 10, 0.7));
  -webkit-animation: blink 1s ease-in;
  -moz-animation: blink 1s ease-in;
  animation: blink 1s ease-in;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bomb {
  height: 70px;
  width: 70px;
  border: 5px solid;
  border-color: #f0f0f1 #b8b7ba #b8b7ba #e2e2e3;
  box-sizing: border-box;
}

#result {
  margin-top: 5px;
  color: #e76346;
}

img {
  width: 100%;
  height: 100%;
}
