@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap");
/* body {
  background-color: #e5edf2;
  font-family: "Noto Sans", sans-serif;
} */

html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5edf2;
  font-family: "Noto Sans", sans-serif;
}

.footer {
  text-align: center;
}

a {
  color: #8f95a4;
}

.phone {
  width: 1080px;
  height: 1150px;
  background-color: #ffd007;
  position: relative;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.phone::after {
  content: "";
  width: 135px;
  height: 6px;
  background-color: #8f6d00;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 50%;
  margin-left: -67.5px;
}

.inner {
  padding: 40px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.button {
  width: 32px;
  height: 32px;
  background-color: #f1f8fd;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #222e51;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
    -6px -6px 6px rgba(255, 255, 255, 0.6),
    inset 2px 2px 5px rgba(0, 0, 0, 0.03),
    inset -2px -2px 5px rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
    -6px -6px 6px rgba(255, 255, 255, 0.6),
    inset 3px 3px 3px rgba(0, 0, 0, 0.03),
    inset -3px -3px 3px rgba(255, 255, 255, 0.4);
}

.button:active {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05),
    -6px -6px 6px rgba(255, 255, 255, 0.6),
    inset 8px 8px 8px rgba(0, 0, 0, 0.05),
    inset -8px -8px 8px rgba(255, 255, 255, 0.6);
}

.logo {
  content: "";
  margin-top: 46px;
  margin-bottom: 46px;
  position: relative;
  font-weight: 700;
  font-size: 5.3rem;
  color: #ffd007;
  text-shadow: 4px 4px 8px #c29e05, -4px -4px 8px #ffff09;
}

.logo-img {
  display: flex;
  margin-bottom: 46px;
}

img {
  filter: drop-shadow(8px 8px 8px #c29e05);
}

.sep-bar {
  margin-top: 92px;
  position: relative;
  width: 50%;
  height: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #c29e05, -2px -2px 2px #ffff09,
    inset 3px 3px 3px #ffff09, inset -3px -3px 3px #c29e05;
  margin-bottom: 56px;
}

.control {
  display: flex;
  align-items: center;
}

.play-button {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 26px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  display: block;
  transition: all 0.3s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06), -4px -4px 8px #ffff09,
    inset 5px 5px 5px rgba(0, 0, 0, 0.07), inset -5px -5px 5px #ffff09;
}

.play-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffd007;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  box-shadow: inset 3px 3px 3px #ffff09, inset -3px -3px 3px #c29e05;
}

.play-button:hover::before {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.35),
    inset -3px -3px 3px rgba(0, 0, 0, 0.035);
}

.play-button:active::before {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05),
    inset -3px -3px 3px rgba(255, 255, 255, 0.5);
}

.play-button svg {
  position: relative;
  left: 3px;
}
